%h1
  System Administration

%form.modal{:action => "/system", :method => :post}
  .card
    %h2
      Moderation

    .help
      This section moderates person creation and establishes whether or not arbitrary
      people or systems can install objects on the system. If objects are moderated,
      for instance, somebody can import a simulator object, but only when an adminstrator
      authorizes it via this page will it actually be compiled, installed, and thus available
      to others.

    -# Assure 'false' value is submitted with form
    %input{:type => :hidden, :name => :moderate_objects, :value => "false"}
    %input{:type => :hidden, :name => :moderate_people, :value => "false"}

    -# Actual content follows
    %label.checkbox{:for => :moderate_objectss}
      %input{:type => :checkbox, :id => :moderate_objects, :name => :moderate_objects, :checked => system.moderate_objects}
      Moderate Objects
    %br
    %label.checkbox{:for => "moderate_people"}
      %input{:type => :checkbox, :id => :moderate_people, :name => :moderate_persons, :checked => system.moderate_people}
      Moderate Persons
    %br
  .card.filled
    .submit
      %input.button{:type => :submit, :value => "Save"}

.card
  %h2
    Pending Persons

  .help
    This section lists people which were created but not yet active.
    These people cannot log into the system until you press the Activate button.

  - unless people.empty?
    %ul
    - people.each do |person|
      %li
        #{person.username}
        %form{:action => "/people/#{person.id}", :method => :post}
          %input{:type => :hidden, :name => "active", :value => "1"}
          %input.button{:type => :submit, :value => "Activate"}
  - else
    %p
      None

.card
  %h2
    Pending Object Installs
  .help
    This section lists pending objects requested by people on this system.
    Only when you press the install button will an object actually be realized,
    built, placed on the filesystem, and thus available to those to use.

  - unless objects.empty?
    %ul
    - objects.each do |object|
      %li
        #{object.name}
        %form{:action => "/objects/#{object.id}", :method => :post}
          %input{:type => :hidden, :name => "active", :value => "1"}
          %input.button{:type => :submit, :value => "Install"}
  - else
    %p
      None
