/* Contains the color scheme for the site */

/* Site Palette */
$major-color: #103942;
$minor-color: white;
$accent-color: #c764d9;

/* Master */

$body-bg: hsl(190, 50%, 5%);

/* Top bar */

$top-bar-bg: rgb(237, 237, 237);

/* Navigation */

$nav-username-color: #7600BD;
    $nav-link-color: rgb(48, 48, 48);
       $nav-link-bg: rgb(230, 230, 230);

/* Headers */

$header-bg: $major-color;
$header-color: hsl(190, 60%, 45%);
$sub-header-color: hsl(190, 30%, 55%);
$sub-sub-header-color: hsl(190, 30%, 55%);

/* Footers */

$footer-bg: $major-color;
$footer-color: #888;
$footer-link-color: white;

/* Normal Content */

$paragraph-color: #222;
     $link-color: hsl(190, 60%, 45%);

/* Object Description */

$object-description-bg: hsl(190, 30%, 50%);
$object-description-color: white;
$object-sub-header-color: $accent-color;

/* Workflow */
$workflow-label-type-color: #777;
$workflow-label-name-color: #888;

/* Cards */

        $card-bg: #fff;
$card-blue-color: #fff;
   $card-blue-bg: hsl(230, 30%, 60%);
 $card-filled-bg: #fff;

/* Terminal */

   $terminal-bg: #333;
$terminal-color: #ddd;

/* Expanders */

$expand-color: #555;

/* Code sections */

$code-color: #ddd;
   $code-bg: #333;

/* Results/Tabular content */

$supplement-color: #555; /* units, etc */
     $value-color: #222;
       $key-color: #450063;
