/* Font table for the site */

/* Navigation */

$nav-link-font: 12px "Open Sans", sans-serif;

/* Headers */

$header-font: 300 36px "Lato", sans-serif;
$sub-header-font: 22px "Alegreya Sans SC", serif;
$sub-sub-header-font: 20px "Alegreya Sans SC", serif;

/* Normal Content */

$paragraph-font: 16px "Open Sans", sans-serif;

/* Footers */

$footer-font: 12px "Open Sans", sans-serif;

/* Terminals/Code Spans */

$code-font: 16px "inconsolata", monospace;

/* Objects */

$object-description-font: 300 14px "Open Sans", sans-serif;
$object-sub-header-font: 18px "Marcellus SC", serif;

/* Workflow */

$workflow-label-name-font: 600 11px "Open Sans", sans-serif;
$workflow-label-type-font: 400 10px "Open Sans", sans-serif;

/* Help Bubbles */

$help-font: 16px "Open Sans", sans-serif;

/* Results Data */

$key-font: 600 10pt "Open Sans", sans-serif;
$value-font: 400 10pt "Open Sans", sans-serif;
$supplement-font: 300 10pt "Open Sans", sans-serif;

/* Local fonts below */

@font-face {
  font-family: 'Alegreya Sans SC';
   font-style: normal;
  font-weight: 400;
          src: local('Alegreya Sans SC'),
               local('AlegreyaSansSC-Regular'),
               url(/fonts/alegreya/alegreya.woff2) format('woff2'),
               url(/fonts/alegreya/alegreya.woff) format('woff');
}

@font-face {
  font-family: 'Cinzel Decorative';
   font-style: normal;
  font-weight: 700;
          src: local('Cinzel Decorative Bold'),
               local('CinzelDecorative-Bold'),
               url(/fonts/cinzel/cinzel.woff2) format('woff2'),
               url(/fonts/cinzel/cinzel.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
   font-style: normal;
  font-weight: 300;
          src: local('Lato Light'),
               local('Lato-Light'),
               url(/fonts/lato/lato.woff2) format('woff2'),
               url(/fonts/lato/lato.woff) format('woff');
}

@font-face {
  font-family: 'Marcellus SC';
   font-style: normal;
  font-weight: 400;
          src: local('Marcellus SC'),
               local('MarcellusSC-Regular'),
               url(/fonts/marcellus/marcellus.woff2) format('woff2'),
               url(/fonts/marcellus/marcellus.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
   font-style: normal;
  font-weight: 300;
          src: local('Open Sans Light'),
               local('OpenSans-Light'),
               url(/fonts/opensans/open_sans_300.woff2) format('woff2'),
               url(/fonts/opensans/open_sans_300.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
   font-style: normal;
  font-weight: 400;
          src: local('Open Sans'),
               local('OpenSans'),
               url(/fonts/opensans/open_sans_400.woff2) format('woff2'),
               url(/fonts/opensans/open_sans_400.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
   font-style: normal;
  font-weight: 600;
          src: local('Open Sans Semibold'),
               local('OpenSans-Semibold'),
               url(/fonts/opensans/open_sans_600.woff2) format('woff2'),
               url(/fonts/opensans/open_sans_600.woff) format('woff');
}

@font-face {
  font-family: 'Oxygen';
   font-style: normal;
  font-weight: 400;
          src: local('Oxygen'),
               local('Oxygen-Regular'),
               url(/fonts/oxygen/oxygen.woff2) format('woff2'),
               url(/fonts/oxygen/oxygen.woff) format('woff');
}
