/* Styling for the site footer
 */

body footer {
  background-color: $footer-bg;
  font: $footer-font;
  color: $footer-color;

  padding: 15px;
  padding-top: 10px;

  margin: 0 auto;
  margin-top: 2px;
  max-width: 1000px;
}

body footer ul li {
  display: inline-block;
  padding: 3px 10px;
  border-right: 1px solid #888;
}

body footer ul li:first-child {
  padding-left: 0px;
}

body footer ul li:last-child {
  padding-right: 0px;
  border:none;
}

body footer a {
  color: $footer-link-color;
}

