nav.topbar {
  background-color: $top-bar-bg;
  height: 48px;
  width: 100%;
  margin: 0 auto;
  line-height: 48px;
  position: relative;
}

nav.topbar .logo {
  background-color: red;
  background: url('/images/logo6_small.png') no-repeat 50% 50%;
  color: hsl(190, 80%, 70%);
  display: inline-block;
  height: 48px;
  width: 160px;
  letter-spacing: 0.03em;
  line-height: 48px;
  vertical-align: top;
}

nav.topbar ul.navbar {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

nav.topbar ul.navbar.left {
}

nav.topbar ul.navbar.right {
  position: absolute;
  right: 0;
}

nav.topbar ul.navbar li {
  display: inline-block;
  font: $nav-link-font;
  margin: 0;
  padding-right: 10px;
}

nav.topbar ul.navbar li input {
  border: none;
  height: 18px;
}

nav.topbar ul.navbar li#username a {
  color: $nav-username-color;
}

nav.topbar ul.navbar li a {
  color: $nav-link-color;
  background-color: $nav-link-bg;
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 8px;
}

nav.topbar ul.navbar li a:hover {
  text-decoration: underline;
}

nav.topbar ul.navbar.jobs {
  margin-left: 10px;
}

nav.topbar ul.navbar li#job-progress .task-selector {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  margin-right: 10px;
  text-align: center;
  position: relative;
  vertical-align: top;
}

nav.topbar ul.navbar li#job-progress .task-selector span {
  margin: 0 auto;
}

nav.topbar ul.navbar li#job-progress .task-selector span.task-number {
  color: #777;
  color: #333;
  font: 600 12px "Open Sans", sans-serif;
}

nav.topbar ul.navbar li#job-progress .task-selector span.task-count {
  color: #333;
  font: 600 12px "Open Sans", sans-serif;
}

nav.topbar ul.navbar li#job-progress .task-selector .previous {
  cursor: pointer;
  display: inline-block;
  color: #888;
  position: absolute;
  top: 4px;
  line-height: 1em;
  width: 100%;
  left: 0;
}

nav.topbar ul.navbar li#job-progress .task-selector .next {
  cursor: pointer;
  display: inline-block;
  color: #888;
  position: absolute;
  bottom: 4px;
  line-height: 1em;
  width: 100%;
  left: 0;
}

nav.topbar ul.navbar li#job-progress .current-task {
  display: inline-block;
  height: 48px;
  margin-right: 10px;
  vertical-align: top;
}

nav.topbar ul.navbar li#job-progress .current-task .label.name {
  font: $workflow-label-name-font;
  color: $workflow-label-name-color;
  position: relative;
  top: 8px;
}

nav.topbar ul.navbar li#job-progress .current-task .label.type {
  font: $workflow-label-type-font;
  color: $workflow-label-type-color;
  position: relative;
  top: 9px;
}

nav.topbar ul.navbar li#job-progress .container {
  background-color: #cfc;

  border-left: 5px solid #ada;
  border-right: 5px solid #ada;
  border-top: 1px solid #ada;
  border-bottom: 1px solid #ada;

  display: inline-block;
  height: 30px;
  width:  30px;

  margin-right: 10px;
  position: relative;
  top: 9px;
}

nav.topbar ul.navbar li#job-progress {
  height: 48px;
  line-height: 48px;
  position: relative;
}

nav.topbar ul.navbar li#job-progress > span {
  color: #444;
  vertical-align: top;
  margin-right: 6px;
}

nav.topbar ul.navbar li#job-progress > span.job-title a {
  color: $nav-username-color;
  margin-left: 10px;
}

nav.topbar ul.navbar li#job-progress ul {
  display: inline-block;
}
