/* Runs Listing */
.card a.cancel-link {
  cursor: pointer;
  display: inline-block;
  background-image: url('/images/remove_item.svg');
  background-repeat: no-repeat;
  background-size: 16px;
  background-color: #ecc;
  background-position: 5px 50%;
  font-size: 11px;
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 600;
  padding: 5px;
  padding-left: 25px;
  padding-right: 13px;
  border: none;
  border-radius: 10px;
  position: relative;
  top: 3px;
  color: hsl(0, 90%, 80%);
  margin: 4px;
}

.card a.cancel-link:hover {
  color: hsl(0, 90%, 40%);
}

.card a.archive-link {
  cursor: pointer;
  display: inline-block;
  background-image: url('/images/remove_item.svg');
  background-repeat: no-repeat;
  background-size: 16px;
  background-color: #cec;
  background-position: 5px 50%;
  font-size: 11px;
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 600;
  padding: 5px;
  padding-left: 25px;
  padding-right: 13px;
  border: none;
  border-radius: 10px;
  position: relative;
  top: 3px;
  color: hsl(160, 90%, 40%);
  margin: 4px;
}

.card a.archive-link:hover {
  color: hsl(160, 90%, 20%);
}
