/* Spinner */
.spinner {
  position: relative;
  width: 30px;
  height: 30px;
}

.spinner > * {
  display: inline-block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #888;
  animation-direction: normal;
  animation-name: spinner-pulse;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  opacity: 0.0;
}

.spinner > .top {
  top: 4px;
  left: 12px;
}

@keyframes spinner-pulse {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.0;
  }
}

.spinner > .top-left {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  top: 6px;
  left: 6px;
  animation-delay: 875ms;
}

.spinner > .top-right {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  top: 6px;
  right: 6px;
  animation-delay: 125ms;
}

.spinner > .bottom-left {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  bottom: 6px;
  left: 6px;
  animation-delay: 625ms;
}

.spinner > .bottom-right {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  bottom: 6px;
  right: 6px;
  animation-delay: 375ms;
}

.spinner > .right {
  top: 12px;
  right: 4px;
  animation-delay: 250ms;
}

.spinner > .bottom {
  bottom: 4px;
  left: 12px;
  animation-delay: 500ms;
}

.spinner > .left {
  top: 12px;
  left: 4px;
  animation-delay: 750ms;
}
