/* Styling for tabs (both variations) on the site
 */

/* Outer Card Tabs */
ul.tabs {
  display: block;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

ul.tabs li.tab {
  position: relative;
  color: #777;
  cursor: pointer;
  display: inline-block;
  height: 19px;
  margin-top: 5px;
  padding-top: 6px;

  padding-right: 7px;
  padding-left: 5px;

  font-family: "Open Sans";
  font-size: 12px;

  background-color: #d8d8d8;
  border-top: 1px solid #777;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  margin-left: 6px;
  margin-right: 6px;
}

ul.tabs li.tab a {
  color: #777;
}

ul.tabs li.tab:before ,
ul.tabs li.tab:after {
  position: absolute;
  overflow: hidden;
  display: block;
  height: 30px;
  width: 14px;
  bottom: -5px;
  background-color: #d8d8d8;
  content: "";
}

/*#results-bar ul li:before ,*/
ul.tabs li.tab:before {
  z-index: -2;
  border-left: 1px solid #777;
  left: -9px;
  border-top-left-radius: 5px;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}

ul.tabs li.tab:after {
  z-index: -1;
  border-right: 1px solid #777;
  right: -9px;
  content: "";
  border-top-right-radius: 5px;
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

ul.tabs li.tab.active {
  background-color: hsl(190, 80%, 40%);
  color: #eee;
  z-index: 2;
}

ul.tabs li.tab.active a {
  color: #eee;
}

ul.tabs li.tab a:hover {
  text-decoration: none;
}

ul.tabs li.tab.active:before,
ul.tabs li.tab.active:after {
  background-color: hsl(190, 80%, 40%);
}

/* Inner Card Tabs */
.card ul.tabs {
  display: block;
  position: relative;
  height: 37px;
  z-index: 1;
  overflow: visible;
  border-bottom: 1px solid #ddd;
}

.card ul.tabs + * {
  margin-top: 15px;
}

/* First active tab edge */
/* Will be covered up by first inactive tab edge */
.card ul.tabs:before {
  content: "";
  position: absolute;
  left: 0px;
  border-left: none;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0;
  display: inline-block;
  height: 24px;
  width: 15px;
  bottom: -1px;
  padding: 0;
  margin: 0;
  z-index: 3;
  background-color: white;
}

.card ul.tabs li.tab {
  margin: 0;
  padding: 0;
  background: none;
  border: none;

  position: relative;
  color: #777;
  cursor: pointer;
  display: inline-block;
  height: 25px;

  margin-top: 5px;

  padding-top: 6px;
  padding-right: 10px;
  padding-left: 10px;

  font-family: "Open Sans";
  font-size: 16px;

  background-color: white;
  border: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-left: 9px;
  margin-right: 10px;
}

.card ul.tabs li.tab:first-child {
  margin-left: 15px;
}

.card ul.tabs li.tab:before,
.card ul.tabs li.tab:after {
  display: none;
  left: auto;
  right: auto;
  position: absolute;
  content: "";
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  border-top-left-radius: none;
  border-top-right-radius: none;
}

/* Every tab assumes the next tab is active
 * and places a ./` line to its right,
 * unless, of course, it is the last tab. */
.card ul.tabs li.tab:not(:last-child):after {
  right: -20px;
  border-left: none;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0;
  display: inline-block;
  height: 24px;
  width: 15px;
  bottom: -1px;
  padding: 0;
  margin: 0;
  z-index: 100;
  background-color: white;
}

/* Active tabs replace the ./` line with a
 * `\. line to the right. */
.card ul.tabs li.tab.active:after {
  right: -16px;
  border-right: none;
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 10px;
  display: inline-block;
  height: 24px;
  width: 15px;
  bottom: -11px;
  padding: 0;
  margin: 0;
  z-index: 4;
  background-color: white;
}

/* Non-active tabs that do not follow an active
 * tab overlap a | to the left, obscuring the ./` */
.card ul.tabs li.tab:not(.active) + li.tab:not(.active):before {
  content: "";
  left: -15px;
  color: #aaa;
  border-right: none;
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  display: inline-block;
  height: 17px;
  width: 1px;
  border-left: 8px solid white;
  border-right: 8px solid white;
  border-bottom: 8px solid white;
  bottom: 0px;
  padding: 0;
  margin: 0;
  z-index: 999;
  background-color: #ddd;
  box-shadow: 0 1px 1px -1px #ddd;
}

/* First tab needs to obscure the ul.tabs ./` */
.card ul.tabs li.tab:not(.active):first-child:before {
  content: "";
  left: -15px;
  color: #aaa;
  border-right: none;
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  display: inline-block;
  height: 25px;
  width: 16px;
  bottom: -1px;
  padding: 0;
  margin: 0;
  z-index: 4;
  background-color: white;
}

/* Active tabs must cover the bottom line of ul.tabs */
.card ul.tabs li.tab.active:before {
  position: absolute;
  display: block;
  z-index: 0;

  border: none;
  border-radius: 0;

  width: auto;
  left: -10px;
  right: -10px;
  height: 10px;
  bottom: -11px;
  background-color: white;

  border: none;
}

/* Active tabs are shorter so their borders do
 * not go past the rounded edges */
.card ul.tabs li.tab.active {
  height: 15px;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #eee;
}

.card ul.tabs li.tab a {
  position: relative;
  color: #aaa;
  z-index: 9999;
}

.card ul.tabs li.tab.active a {
  color: #777;
  font-weight: 800;
}
