/* http://meyerweb.com/eric/tools/css/reset/
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

.caja-vdoc-wrapper {
  font-family: "Open Sans", sans-serif;
  font-size: 12pt;

  div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    box-shadow: none;
    text-shadow: none;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  *:hover, *:active {
    text-decoration: none;
    box-shadow: none;
    text-shadow: none;
    border: none;
    background: none;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    position: static;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}

/* We allow a button styling */
.occam-widget.button {
  display: inline-block;

  /* REMEMBER: Duplicate the bg stuff to disabled:active */
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, hsl(190, 0%, 100%)), color-stop(1, hsl(190, 0%, 90%)) );
  background:-moz-linear-gradient( center top, hsl(190, 0%, 100%) 5%, hsl(190, 0%, 90%) 100% );
  background-color: hsl(190, 0%, 40%);

  border: 1px solid #ccc;
  border-radius: 3px;

  color: #333;
  cursor: pointer;

  padding: 7px 9px;
  margin-top: 10px;

  text-align: center;
  text-decoration: none;

  /* REMEMBER: Duplicate this line under :disabled:hover */
  box-shadow: inset 0px 0px 1px 1px hsl(190, 60%, 100%);

  font-family: "Open Sans";
  font-weight: 300;
  font-size: 12px;
}

.occam-widget.button:hover {
  box-shadow:inset 0px 0px 1px 1px hsl(190, 60%, 50%);
}

.occam-widget.button:active {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, hsl(190, 0%, 95%)), color-stop(1, hsl(190, 0%, 90%)) );

  background:-moz-linear-gradient( center top, hsl(190, 0%, 95%) 5%, hsl(190, 0%, 90%) 100% );
  background-color: hsl(190, 0%, 40%);
}

.occam-widget.button.disabled ,
.occam-widget.button:disabled {
  color: #aaa;
  cursor: default;
}

.occam-widget.button.disabled:hover ,
.occam-widget.button:disabled:hover {
  box-shadow:inset 0px 0px 1px 1px hsl(190, 60%, 100%);
}

.occam-widget.button.disabled:active ,
.occam-widget.button:disabled:active {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, hsl(190, 0%, 100%)), color-stop(1, hsl(190, 0%, 90%)) );
  background:-moz-linear-gradient( center top, hsl(190, 0%, 100%) 5%, hsl(190, 0%, 90%) 100% );
  background-color: hsl(190, 0%, 40%);

  position:relative;
  top:0px;
}

.occam-widget.button.inline {
  margin-top: 0px;
}

.occam-widget.button:active {
  position:relative;
  top:1px;
}
