- if connection['object']['create'].nil? or !recurse
  %li.object{:class => "#{connection['object']['type']} #{'base' if base} #{connection['co_runnable'] == 1 ? 'fifo' : ''}"}>
    .row
      - if connection['connections'].any? or (object && editable && workset.can_edit?(current_person) && object.described_inputs.any?) or (parent && workset.can_edit?(current_person) && parent.indirect_input_types.any?)
        %ul.connections{:class => (((object && object.described_inputs.any?) || (parent && parent.indirect_input_types.any?)) ? "input" : "")}
          - connection['connections'].each do |input_connection|
            = partial :"workflows/object", :locals => {:workset => workset, :workflow => workflow, :base => false, :connection => input_connection, :object => input_connection['object_realized'], :experiment => experiment, :recurse => true, :parent => object}
          - if editable and workset.can_edit?(current_person) and (connection['input_max'].nil? or connection['connections'].length < connection['input_max'])
            %li.object.input
              .row
                .info
                  .container.input
                    .edge.top.left
                    .edge.bottom.left
                    .container-content
                      %form{:action => "/worksets/#{workset.uid}/#{workset.revision}/experiments/#{experiment.uid}/#{experiment.revision}/connections", :method => :post, :name => :add_connection}
                        - if (object && object.described_inputs.any?) || (parent && parent.indirect_input_types.any?)
                          %input{:name => :connection_index, :type => :hidden, :value => connection['index']}
                          %select.inputs{:name => :object_type}
                            - if object
                              - object.input_types.each do |input|
                                %option{:value => input.object_type}
                                  #{input.object_type}
                            - if parent
                              - parent.indirect_input_types.each do |input|
                                %option{:value => input.object_type}
                                  #{input.object_type}
                          %input.button{:name => :submit, :type => :submit, :value => "Update"}
                          - if object && object.described_inputs.any?
                            %select.objects{:name => :object, :"data-input-id" => object.described_inputs.first.id}
                              - object.described_inputs.first.objects.select(:name, :id).each do |obj|
                                %option{:value => obj.id} #{obj.name}
                          - elsif parent && parent.indirect_input_types.any?
                            %select.objects{:name => :object}
                              - Occam::Object.where(:object_type => parent.indirect_input_types.first.object_type).each do |obj|
                                %option{:value => obj.id} #{obj.name}
                          %ul.options
                            %li
                              %input.button{:name => :submit, :type => :submit, :value => "Attach"}
                    .edge.top.right
                    .edge.bottom.right
      .info
        .container{:class => (connection['object']['created'] ? "created" : " ") + (running_connections.include?(connection['index']) ? "running" : " ") + (done_connections.include?(connection['index']) ? "done" : " ")}
          .edge.top.left
          .edge.bottom.left
          .container-content
            - if running_connections.include?(connection['index'])
              = partial :spinner
            - if editable and workset.can_edit?(current_person)
              %form{:action => "/worksets/#{workset.uid}/#{workset.revision}/experiments/#{experiment.uid}/#{experiment.revision}/connections/#{connection['index']}", :method => :post, :name => :remove_connection}
                %input{:type => :hidden, :value => 'delete', :name => :_method}
                %input.delete{:type => :submit, :value => "detach"}
            %h3.type
              #{connection['object']['type']}
            - if object
              %h3.name
                %a{:href => "/objects/#{object.object_type_safe}/#{object.uid}/#{connection['object']['revision']}"}
                  = object.name
              %h3.revision
                #{connection['object']['revision'][0..6]}
              %ul.outputs
                %li
                  %a.button{:href => "/objects/#{object.object_type_safe}/#{object.uid}/#{connection['object']['revision']}/configurations"}
                    Defaults
            - else
              %h3.name
                #{connection['object']['name']}
          .edge.top.right
          .edge.bottom.right
          .label.type
            #{connection['object']['type']}
          .label.name
            #{connection['object']['name']}
- else
