- if not defined?(running_connections)
  - running_connections = []

- if not defined?(done_connections)
  - done_connections = []

- if not defined?(editable)
  - editable = false

-# Workflow javascript
- content_for :scripts do
  %script{:src=>"/js/workflows.js"}

-# Workflow content
%ul.workflow{:id => (editable ? "workflow" : " "), :class => (editable ? " " : "fitted")}
  %li.object
    .row
      %ul.connections
        - tail_connections.each do |connection|
          = partial :"workflows/object", :locals => {:done_connections => done_connections, :running_connections => running_connections, :workset => workset, :workflow => workflow, :base => false, :connection => connection, :object => connection['object_realized'], :experiment => experiment, :recurse => false, :parent => nil, :editable => editable}
        - unless tail_connections.any?
          %li.object
            .row
              .info
                .container.input
                  .edge.top.left
                  .edge.bottom.left
                  .container-content
                    %form{:action => "/worksets/#{workset.uid}/#{workset.revision}/experiments/#{experiment.uid}/#{experiment.revision}/connections", :method => :post, :name => :add_connection}
                      %input{:name => :connection_index, :type => :hidden, :value => "-1"}
                      %select.inputs{:name => :object_type}
                        - Occam::Object.types.each do |type|
                          %option{:value => type}
                            #{type}

                      %select.objects{:name => :object}
                        - Occam::Object.names(Occam::Object.types.first).each do |object|
                          %option{:value => object.id} #{object.name}
                      %input{:name => :run_order, :type => :hidden, :value => 0}
                      %ul.options
                        %li
                          %input.button{:name => :submit, :type => :submit, :value => "Attach"}
                  .edge.top.right
                  .edge.bottom.right
      - if tail_connections.any?
        - connection = tail_connections.first
        - object     = connection["object_realized"]
        .info
          .container
            .edge.top.left
            .edge.bottom.left
            .container-content
              %h3
                Data
              %ul.options
                %li
                  %a.button{:href=>"/objects/#{object.object_type_safe}/#{object.uid}/#{object.revision}/outputs/0"}
                    Schema
