-# Purpose: Displays the system configuration for this OCCAM instance.
-#
-# Locals:  system - The configuration of the system.

%h1
  %span.logo
    Occam
  System Knowledge
.description
  :markdown
    This page shows the acquired knowledge of this OCCAM node and its relation to nodes around it. OCCAM is a federated system. The aggregate knowledge that exists is beyond what any one node can store on its own.

.card
  %h2
    Nodes

  %p
    None

.card
  %h2
    Discovered

  %p
    None

.card
  %h2
    Objects

  .information
    .authors
      %h2
        People
      %p
        #{Occam::Person.count}
    .workset
      %h2
        Worksets
      %p
        #{Occam::Workset.count}
    .group
      %h2
        Groups
      %p
        #{Occam::Group.count}
    .experiment
      %h2
        Experiments
      %p
        #{Occam::Experiment.count}
    .script
      %h2
        Runnable Objects
      %p
        #{Occam::Object.where(:runnable => 1).count}
    .object
      %h2
        Objects
      %p
        #{Occam::Object.count}
    .configuration
      %h2
        Runs
      %p
        #{Occam::Run.count}
