= partial :"workflows/show", :locals => {:experiment => run.experiment, :workset => run.workset, :tail_connections => run.experiment.tail_connections, :workflow => run.experiment.workflow, :running_connections => run.running_connections, :done_connections => run.done_connections}

- if not run.done?
  %a.cancel-link{:style => "float: right", :href => "/runs/#{run.id}/cancel"}
    cancel
- else
  %a.archive-link{:style => "float: right", :href => "/runs/#{run.id}/archive"}
    archive

%ul.jobs
  %li.job
    .information
      .progress
        %h2
          Progress
        - jobs_done = 0
        %ul.progress-bar
          - run.jobs.each do |job|
            - if job.status == :finished
              - jobs_done += 1
              %li.progress-cell.complete
            - elsif job.status == :running
              %li.progress-cell.in-progress
            - else
              %li.progress-cell
        %p
          (#{jobs_done}/#{run.jobs.count})

%ul.jobs
  - run.jobs.each do |job|
    = partial :"jobs/list", :locals => {:job => job}

= partial :"jobs/terminals", :locals => {:run => run, :jobs => run.jobs}
