- if not defined?(no_footer) or !no_footer
  %footer
    %ul
      %li>
        %a{:href => "/about"}>About
      %li>
        %a{:href => "/acknowledgements"}>Acknowledgements
      %li>
        %a{:href => "http://docs.occamportal.org"}>Documentation

