%script{:src=>"/js/jquery/jquery.min.js"}
%script{:src=>"/js/d3/d3.min.js"}
%script{:src=>"/js/jquery/jquery-ui-1.10.4.custom.min.js"}
%script{:src=>"/js/jquery.base64.min.js"}
%script{:src=>"/js/jquery.searchlight.js"}
%script{:src=>"/js/tagit/tag-it.min.js"}
%script{:src=>"/js/caja/caja-minified.js"}
%script{:src=>"/js/app.js"}

= yield_content :scripts
