%nav.topbar
  %a.logo{:href => '/'}
  -# Current job progress
  - if not current_person.nil?
    %ul.navbar.jobs.left
      %li#job-progress>
        %span
          Running Tasks:
        .task-selector
          .previous>
            &#x25B2;
          %span.task-number
            1
          \/
          %span.task-count
            1
          .next>
            &#x25BC;
        .current-task
          .label.type
            simulator
          .label.name
            DRAMSim2
        .container
          = partial :spinner
        %ul.progress-bar
          %li.progress-cell.complete
          %li.progress-cell.complete
          %li.progress-cell.complete
          %li.progress-cell.in-progress
          %li.progress-cell.pending
          %li.progress-cell.pending
        %span.job-title
          %a
            Workset/Foo
  %ul.navbar.right
    - if current_person.nil?
      %li>
        %a{:href => "/login"}>Login
      %li>
        %a{:href => "/people/new"}>Signup
    - else
      - if current_account.has_role? :administrator
        %li
          %a{:href => "/admin"}
            Admin
      %li#username>
        %a{:href => "/people/#{current_person.uid}"}
          #{current_person.username}
      %li>
        %a{:href => "/logout"}>Logout
    %li>
      %form{:action => "/search", :method => :post}
        %input#query{:name => "search"}
        %input#search{:type => :submit, :style => "display: none;"}
    %li>
      %a{:href => "/search"}>Search
