!!!
%html
  %head
    = partial(:head)
    %title
      OCCAM System
  %body
    = partial(:topbar)
    .content.filled.markdown
      = find_and_preserve do
        = yield
      .clear
    = partial(:footer)
    = partial(:scripts)
