.card
  %h2
    Jobs
  %ul
    - experiment.runs.each do |run|
      = partial :"runs/list", :locals => {:run => run}
  -# TODO: experiment.can_edit? it should be because of experiment linking
  - if workset.can_edit?(current_person)
    %a.button{:href => "/worksets/#{workset.uid}/#{workset.revision}/experiments/#{experiment.uid}/#{experiment.revision}/run"}
      Queue Job
