%ul.groups
  - # TODO: clean this up
  - # TODO: place this in a model
  - if object_info.has_key? 'dependencies'
    - object_info['dependencies'].select{|dependency| dependency['type'] == 'experiment'}.each do |experiment|
      - experiment_info = experiment
      - experiment = Occam::Experiment.where(:uid => experiment['id']).first
      %li.experiment{:class => (experiment.worksetBelongsTo.uid != workset.uid) ? "linked" : ""}
        .information
          .row
            %span.name
              - if experiment_info['revision'] == experiment.revision
                - if head_view
                  %a{:href => "/worksets/#{workset.uid}/experiments/#{experiment.uid}"}
                    #{experiment.name}
                - else
                  %a{:href => "/worksets/#{workset.uid}/#{workset.revision}/experiments/#{experiment.uid}"}
                    #{experiment.name}
              - else
                %a{:href => "/worksets/#{workset.uid}/#{workset.revision}/experiments/#{experiment.uid}/#{experiment_info['revision']}"}
                  #{experiment.name}
            - if experiment.status == :unqueued
              %span.status.unqueued
                unqueued
            - elsif experiment.status == :queued
              %span.status.queued
                queued
            - elsif experiment.status == :running
              %span.status.running
                running
            - elsif experiment.status == :failed
              %span.status.failed
                failed
            - elsif experiment.status == :finished
              %span.status.finished
                finished
            %span.graph-builder
              - if workset.can_edit?(current_person)
                - if experiment.results?
                  %a.button{:href => "/experiments/#{experiment.id}/graph/new"}
                    new graph
                - else
                  %a.button.disabled
                    new graph
            %span.results
              - if workset.can_view?(current_person)
                - if experiment.results?
                  %a.button{:href => "/experiments/#{experiment.id}/results"}
                    results
                - else
                  %a.button.disabled
                    results
            %span.command
              - if workset.can_edit?(current_person)
                - if experiment.status == :queued or experiment.status == :running
                  %a.button{:href => "/experiments/#{experiment.id}/cancel"}
                    stop
                - elsif experiment.status == :failed
                  %a.button{:href => "/experiments/#{experiment.id}/run"}
                    restart
                - elsif experiment.status == :finished
                  %a.button{:href => "/experiments/#{experiment.id}/run"}
                    repeat
                - else
                  %a.button{:href => "/experiments/#{experiment.id}/run"}
                    run
