%h1.fork
  .icon.fork<
  .name<
    Fork
  .organization<
    Create a clone of this object.

= partial :errors, {:locals => {:errors => errors}}

%form.modal{:action => "/experiments/#{experiment.uid}/#{experiment.revision}/fork", :method => :post, :name => :fork_experiment}
  .card
    %label{:for => :name}
      Name
    %input{:type => "text", :id => :name, :name => :name, :value => experiment.name}
    - if worksets
      %label{:for => :to}
        To Workset:
      %select{:name => :to}
        - worksets.each do |workset|
          %option{:value => workset.uid}
            #{workset.name}
      %input.button{:type => "submit", :value => "List Groups", :name => :update}
    - elsif to
      %label{:for => :to}
        To
        - if to.is_a? Workset
          Workset
        - else
          Group
      %p
        #{to.name} (#{to.uid})
      %label{:for => :to}
        To Group:
      %select{:name => :to}
        - groups.each do |group|
          %option{:value => group.uid}
            #{group.name}
      %input.button{:type => "submit", :value => "List Groups", :name => :update}
  .card.filled
    .submit
      %input.button{:type => "submit", :value => "Fork", :name => :submit}
