-# Purpose: Displays the profile for the specified experiment
-#
-# Locals:  experiment  - The particular Experiment to view
-#          simulator   - The Simulator this experiment runs with
-#          forked_from - The Experiment that this experiment was cloned from.
-#          person     - The person that created this experiment.
-#          recipe      - The Recipe this Experiment was based upon.
-#          workset     - The Workset this Experiment is collected within.

- content_for :title do
  #{experiment.name}

- content_for :styles do
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/configuration.css'}

- content_for :scripts do
  %script{:type => "text/javascript", :src => "/js/terminal.js"}
  %script{:src=>"/js/parsley/parsley.min.js"}
  %script{:src=>"/js/validation.js"}
  %script{:src=>"/js/configurator.js"}
  %script{:type => "text/javascript", :src => "/js/experiment_show.js"}

- if current_revision != experiment.revision
  .card.blue
    %p
      This is a snapshot of this experiment as it looked in the past.&nbsp;
      %a{:href => "/worksets/#{workset.uid}/experiments/#{experiment.uid}"}<>
        Go to the most recent version
      \.

- if workset.uid != parent_workset.uid
  .card.blue
    %p
      This is a link to an experiment that actually resides in a different workset. Changes will clone this experiment.

%h1.experiment
  .icon.experiment<
  .statistics
  .name<
    = experiment.name
  .parent<
    %span.black
      within
    - if group
      - if head_view
        %a{:href => "/worksets/#{workset.uid}/groups/#{group.uid}"}<
          = group.name
      - else
        %a{:href => "/worksets/#{workset.uid}/#{workset.revision}/groups/#{group.uid}"}<
          = group.name
      %span.black
        in
    - if head_view
      %a{:href => "/worksets/#{workset.uid}"}<
        = workset.name
    - else
      %a{:href => "/worksets/#{workset.uid}/#{workset.revision}"}<
        = workset.name

.description
  - if object_info.has_key? 'description'
    :markdown
      #{object_info['description']}
  - if object_info.has_key? 'tags' and object_info['tags'].length > 1
    %ul.tags
      - experiment.objectInfoTags.each do |tag|
        %li.tag
          %a{:href => "/experiments?tag=#{tag}"}
            = tag

.card
  %ul.image-list.right
    - # TODO: handle clonedFrom generation!
    %li.fork
      %a{:href => "/experiments/#{experiment.uid}/#{experiment.revision}/fork"}
        Fork this experiment

  .information
    .uuid
      %h2
        UUID
      %p
        #{experiment.uid}
    .revision
      %h2
        Revision
      %p
        #{revision}
    .history
      %h2
        History
      %p
        - parent = experiment.parentRevision
        - if parent
          %a{:href => "/worksets/#{workset.uid}/#{workset.revision}/experiments/#{experiment.uid}/#{parent}"}<
            #{parent[0..6]}...
          \>
        current
        - children = experiment.childRevisions
        - if not children.empty?
          \>
          %a{:href => "/worksets/#{workset.uid}/#{workset.revision}/experiments/#{experiment.uid}/#{children.first}"}<
            #{children.first[0..6]}...

    .authors
      %h2
        Creator
      %p
        - if person
          %a{:href => "/people/#{person.uid}"}
            #{person.username}
        - else
          anonymous
    - if object_info['authors']
      .authors
        %h2
          Authors
        %ul
          - object_info['authors'].each do |author|
            %li
              = author

  - if forked_from
    %ul.image-list
      %li.forked_from.fork
        Forked from
        %a{:href => "/experiments/#{forked_from.id}"}
          #{forked_from.name}

  - if forked_us && !forked_us.empty?
    %h2
      Forks
    %ul.image-list.forked_us
      - forked_us.each do |forked_experiment|
        %li.fork
          %a{:href => "/experiments/#{forked_experiment.id}"}
            #{forked_experiment.name}

.card
  %h2 Workflow

  - if experiment.workflow['connections'].empty?
    .help
      :markdown
        A **workflow** describes which objects are involved with running experiments within this *group*.

  - puts experiment.workflow
  = partial :"workflows/show", :locals => {:editable => true, :workset => workset, :experiment => experiment, :workflow => experiment.workflow, :tail_connections => experiment.tail_connections}

- if workset.can_edit?(current_person)
  -# TODO: No-Javascript version to open tabs
  %ul.tabs
    - tab_count = 0
    - experiment.workflow['connections'].each_with_index do |connection, index|
      - if connection['object_realized'] && connection['object_realized'].configurations.any?
        - tab_count += 1
        %li.tab{:class => (tab_count == 1 ? "active" : "")}
          %a
            #{connection['object_realized'].name}
  - tab_count = 0
  .tab-panels
    - experiment.workflow['connections'].each_with_index do |connection, index|
      - if connection['object_realized'] && connection['object_realized'].configurations.any?
        - tab_count += 1
        %form.tab-panel.modal{:class => (tab_count == 1 ? "active" : ""), :"aria-hidden" => (tab_count == 1 ? "false" : "true"), :action => "/worksets/#{workset.uid}/#{workset.revision}/experiments/#{experiment.uid}/#{experiment.revision}/configurations/#{index}", :method => :post, :name => :configuration_edit, :"data-parsley-excluded" => "input[type=button], input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden, .no-validation"}
          .card
            %h2
              Configuration
              %a.help-bubble{:href => "?help=options_#{index}"}
                help
            .help{:"aria-hidden" => (help.nil? or help == "options_#{index}") ? "true" : "false"}
              %p
                Use ranged options to create a set of experiments.
              %p
                Type
                %code
                  1 - 4
                in a field to sweep an option and create an experiment for each valid value in that range.
            %ul.configurations.tabs
              - inner_tab_count = 0
              - if connection['object_realized'].configurators.any?
                - inner_tab_count += 1
                %li.configuration.tab.active{:"aria_hidden" => "false"}>
                  %a
                    Widget
              - connection['object_realized'].configurations.each do |configuration|
                - inner_tab_count += 1
                %li.configuration.tab{:class => (inner_tab_count == 1 ? "active" : "")}>
                  %a
                    #{configuration['name']}
            .tab-panels.configurations
              - inner_tab_count = 0
              - if connection['object_realized'].configurators.any?
                - connection['object_realized'].configurators.each do |configurator|
                  - inner_tab_count += 1
                  .tab-panel{:class => (inner_tab_count == 1 ? "active" : ""), :"aria-hidden" => (inner_tab_count == 1 ? "false" : "true")}
                    %h3
                      Configurator Widget
                    %p#configurator.configurator{:"data-configurator-url" => "/objects/#{configurator.object_type_safe}/#{configurator.uid}/#{configurator.revision}/tree", :"data-configurator-file" => configurator.objectInfo['file']}
              - connection['object_realized'].configurations.each_with_index do |configuration, configuration_index|
                - inner_tab_count += 1
                .tab-panel{:class => (inner_tab_count == 1 ? "active" : ""), :"aria-hidden" => (inner_tab_count == 1 ? "false" : "true")}
                  - if configuration.has_key? 'recipes'
                    %p
                      recipes:
                      %select.no-validation{:name => "recipe-#{index}-#{configuration_index}"}
                        - configuration['recipes'].each_with_index do |recipe, recipe_index|
                          %option{:value => recipe_index}
                            #{recipe['name']}
                      %input.inline.button{:type => :submit, :value => "Apply", :name => "apply-recipe-#{index}-#{configuration_index}"}
                  .configuration-search-options
                    = render_ranged_form(experiment.retrieveJSON("configurations/#{index}/#{configuration['file']}"), connection['object_realized'].retrieveJSON(configuration['schema']), {}, configuration['object_realized'], index, index)
          .card.filled
            .submit
              %input.button{:type => "submit", :value => "Update", :name => :submit}

= partial(:"experiments/jobs", :locals => {:experiment => experiment, :workset => workset})

.card.filled.terminal
  %h2
    Run
  .terminal{:tabindex => "1", :"data-experiment-id" => experiment.uid, :"data-experiment-revision" => experiment.revision, :"data-workset-id" => workset.uid, :"data-workset-revision" => workset.revision, :"data-link-text" => "Run Experiment"}

.card
  %h2
    Output

  .information
    - if object_info.has_key? 'generates'
      %p
        %a{:href => "/worksets/#{workset.uid}/#{workset.revision}/experiments/#{experiment.uid}/#{experiment.revision}/graphs/new"}<
          New Graph
        |
        %a{:href => "/worksets/#{workset.uid}/#{workset.revision}/experiments/#{experiment.uid}/#{experiment.revision}/results"}<
          Tabular View
      - object_info['generates'].each do |generated_object|
        -# TODO: sanitize?
        -# TODO: it should link to the object revision it generated
        .object{:"data-object-type" => generated_object['type']}
          %h2
            - if generated_object.has_key? 'name'
              #{generated_object['name']}
              %span.small
                #{generated_object['type']}
            - else
              #{generated_object['type']}
          %p
            %a{:href => "/objects/#{Occam::Object.objectTypeFromUUID(generated_object['id'])}/#{generated_object['id']}"}<
              view
            -# TODO: hmm, need to inspect generated object and see if it has a file
            - if generated_object['file']
              %a{:href => "/objects/#{Occam::Object.objectTypeFromUUID(generated_object['id'])}/#{generated_object['id']}/file"}<
                download
            - if generated_object['schema']
              %a{:href => "/objects/#{Occam::Object.objectTypeFromUUID(generated_object['id'])}/#{generated_object['id']}/schema"}<
                schema
    - else
      %p
        None
