-# Locals:
-#   workset - The current Workset in question
-#      help - Which help section is current toggled

- if workset.can_edit?(current_person)
  .card
    %h2
      Review Snapshots
      %a.help-bubble{:href => "?help=review"}

    .help{:"aria-hidden" => (help != "review") ? "true" : "false"}
      :markdown
        A **review snapshot** will yield a link that you can share (regardless of whether or not the workset is marked private) which will
        allow a person to view a version of the workset without authorship information. This snapshot cannot be forked and will be
        established at the current revision without any ability to browse workset or experiment history.

    %ul.review-links
      - workset.review_capabilities.each do |review_capability|
        %li.review-link
          .meta-data
            %form{:action => "/worksets/#{workset.uid}/#{workset.revision}/review-links/#{review_capability.id}", :method => :post, :name => :remove_review_link}
              %input{:type => :hidden, :value => 'delete', :name => :_method}
              %input.delete{:type => :submit, :value => "remove"}
            %span.date
              #{I18n.l review_capability.published.to_date, :format => :long}
            %span.revision
              #{review_capability.revision[0...6]}...
          %a{:href => "/worksets/#{workset.uid}/#{review_capability.revision}?review"}
            Sharable Link
    %form{:action => "/worksets/#{workset.uid}", :method => :post}
      %input{:type=>:hidden, :name => :review, :value => workset.revision}
      %input.button{:type => :submit, :value => "Create Review Link for This Revision"}
