-# Purpose: Displays a form to create a new workset
-#
-# Locals: errors      - A collection of errors that are passed when the form
-#                      is reloaded after a validation error. nil when no errors.
-#         workset     - The default or in-progress workset object.
-#         forked_from - The workset we are forking from.

%h1.workset
  .icon.workset<
  .statistics
    %ul
      %li.count
        %span.units
          count
        %span.value
          #{Occam::Workset.count}
  .name<
    - if workset.persisted?
      Update this workset
    - elsif forked_from
      Forking "#{forked_from.name}"
    - else
      Create a new workset
  .description<
    For #{current_person.name}

= partial :errors, :locals => {:errors => errors}

%form.modal{:action => workset.persisted? ? "/worksets/#{workset.uid}" : "/worksets", :method => :post, :name => :worksets_new}
  .card
    - if forked_from
      %input{:type => "hidden", :id => :forked_from, :name => :forked_from, :value => forked_from.id}
      %h2
        forking
      %ul.image-list
        %li.fork
          #{forked_from.name}
    %label{:for => :name}
      name
    %input{:type => "text", :id => :name, :name => :name, :value => workset.name}
    %label{:for => :description}
      description
    %textarea{:id => :description, :name => :description}
      = workset.description
    %label{:for => :tags}
      tags
    %input.tagged.autocomplete{:type => "text", :"data-source" => "/worksets/tags", :id => :tags, :name => :tags, :value => workset.tags}
  .card.filled
    .submit
      %input.button{:type => "submit", :value => (workset.persisted? ? "Update" : "Create"), :name => :submit}
