-# Purpose: Displays the profile for the specified workset
-#
-# Locals:  workset       - The particular Workset to view
-#          simulator     - The Simulator this workset runs with
-#          experiments   - All loose Experiments that are part of this Workset.
-#          groups - All Groups that are attached to this Workset.
-#          forked_from   - The Workset that this Workset was cloned from.
-#          person       - The Person that created this Workset.
-#          collaborators - The Persons that are attached to this Workset.

- content_for :title do
  #{workset.name}

- content_for :styles do
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/workflow.css'}

- if reviewing
  .card.blue
    %p
      This is a reviewer snapshot. Authorship information has been removed.

- if not reviewing and (current_revision != workset.revision)
  .card.blue
    %p
      This is a snapshot of this workset as it looked in the past.&nbsp;
      %a{:href => "/worksets/#{workset.uid}"}<>
        Go to the most recent version
      \.

%h1.workset{:class => (direction(object_info['name']) == :rtl ? "rtl" : "ltr")}
  .icon.workset<
  .statistics
    %ul
      %li.visibility
        - if workset.private == 1
          %span.units.private
            private
        - else
          %span.units.public
            public
        %span.value
          - if workset.is_collaborator? current_person
            %form{:action => "/worksets/#{workset.uid}", :method => :post}
              %input{:type=>:hidden, :name => :private, :value => (workset.private == 1 ? 0 : 1).to_s}
              - if workset.private == 1
                %input.lock.private{:type=>:submit, :value => 'Toggle'}
              - else
                %input.lock.public{:type=>:submit, :value => 'Toggle'}
          - else
            - if workset.private == 1
              %img.lock.private{:src => "/images/public_locked.png"}
            - else
              %img.lock.public{:src => "/images/public_unlocked.png"}
      %li.collaborators
        %span.units
          collaborators
        %span.value
          = workset.authors.count + workset.collaborators.count
      %li.groups
        %span.units
          groups
        %span.value
          0
      %li.experiments
        %span.units
          experiments
        %span.value
          0
      %li.forks
        %span.units
          forks
        %span.value
          0
  .name<
    = object_info['name']
  - if object_info.has_key? 'organization'
    .organization<
      = object_info['organization']
  - if not object_info.has_key?('organization') and person and not person.organization.blank?
    .organization<
      = person.organization

.description
  - if object_info.has_key? 'description'
    :markdown
      #{object_info['description']}
  - if object_info.has_key? 'tags' and object_info['tags'].length > 1
    %ul.tags
      - workset.objectInfoTags.each do |tag|
        %li.tag
          %a{:href => "/worksets?tag=#{tag}"}
            = tag

  - if workset.can_edit?(current_person)
    %p.edit-profile-link
      %a.edit-profile{:href => "/worksets/#{workset.uid}/#{workset.revision}/edit"}
        Edit Name and Description

- if forked_from
  - # TODO: handle clonedFrom
  %ul.image-list
    %li.forked_from.fork
      Forked from
      %a{:href => "/worksets/#{forked_from.id}#{local ? "?path=#{path}" : ""}"}
        #{forked_from.name}

.card
  %ul.image-list.right
    - # TODO: handle clonedFrom generation!
    %li.fork
      %a{:href => "/worksets/#{workset.uid}/#{workset.revision}/fork"}
        Fork this workset

  .information
    .uuid
      %h2
        UUID
      %p
        #{workset.uid}
    .revision
      %h2
        Revision
      %p
        #{workset.revision}
    - if not reviewing
      .history
        %h2
          History
        %p
          - parent = workset.parentRevision
          - if parent
            %a{:href => "/worksets/#{workset.uid}/#{parent}"}<
              #{parent[0..6]}...
            \>
          current
          - children = workset.childRevisions
          - if not children.empty?
            \>
            %a{:href => "/worksets/#{workset.uid}/#{children.first}"}<
              #{children.first[0..6]}...

    - if object_info['authors'] and not object_info['authors'].empty?
      .authors
        %h2
          Authors
        %ul
          - workset.authors.each_with_index do |author, i|
            %li
              %a{:href => "/people/#{author.uid}"}<
                = author.name
              - if i == 0
                (creator)
        -# TODO: author/collaborator add
    - if object_info['collaborators']
      .authors
        %h2
          Collaborators
        %ul
          - object_info['collaborator'].each do |author|
            %li
              = author
        -# TODO: author/collaborator add

- if forked_us && !forked_us.empty?
  %h2
    Forks
  %ul.image-list.forked_us
    - # TODO: handle clonedFrom backrefs somehow
    - forked_us.each do |forked_workset|
      %li.fork
        %a{:href => "/worksets/#{forked_workset.id}"}
          #{forked_workset.name}

-#.card
  %h2
    Authors
    - if workset.can_edit? person
      %a.help-bubble{:href => "?help=collaborators#{local ? "&path=#{path}" : ""}"}
        help

  - if workset.can_edit? person
    .help{:"aria-hidden" => !(object_info['authors'] and object_info['authors'].empty? or help == "collaborators") ? "true" : "false"}
      :markdown
        Worksets can be toggled between *private* and *public* via the lock symbol at the upper-right. Public worksets can be seen by anybody but only edited by you. Private worksets can be seen only by you. Either way, you can add **collaborators** below who acquire all access privileges as you with the exception of deleting the workset.

  %ul.person.image-list
    %li.person
      - if person
        %img.avatar{:src => person.avatar_url(32)}>
        .username
          %a{:href => "/people/#{person.id}#{local ? "?path=#{path}" : ""}"}<
            #{person.username}
        %span.black.small
          (creator)
      - else
        anonymous
    - ((object_info['authors'] or [])[1..-1] or []).each do |person|
      - # TODO: handle uuid person lookup
      - person = Occam::Person.where(:uid => person).first
      %li.person
        %img.avatar{:src => person.avatar_url(32)}>
        .username
          %a{:href => "/people/#{person.uid}"}<
            #{person.username}
        %a.small-link{:href => "/worksets/#{workset.uid}/collaborators/#{person.uid}/remove"}
          remove
    - (object_info['collaborators'] or []).each do |person|
      - person = Occam::Person.where(:uid => person).first
      %li.person
        %img.avatar{:src => person.avatar_url(32)}>
        .username
          %a{:href => "/people/#{person.uid}"}<
            #{person.username}
        %span.black.small
          (collaborator)
        %a.small-link{:href => "/worksets/#{workset.uid}/collaborators/#{person.uid}/remove"}
          remove
    - if workset.can_edit? person
      %li.add
        - if person
          %form{:action => "/worksets/#{workset.uid}/collaborators"}
            %input{:type=>'text', :name => 'username'}

- if workflow
  .card
    %h2
      Base Workflow
      %a.help-bubble{:href => "?help=workflow"}
        help

    .help{:"aria-hidden" => !(workflow.connections.empty? or help == "workflow") ? "true" : "false"}
      :markdown
        A **workflow** describes how a collection of objects interact. Generally, it denotes a path from some input to some eventual result. For instance, you can describe a flow from a benchmark to a simulator. To do this, you would first attach a simulator. At that point, it will show you the possible input objects you can attach. You can select a benchmark on the left-hand side and all runs will use that benchmark with the given simulator.
    = partial :"workflows/show", :locals => {:workflow => workflow}

= partial :"worksets/review-links", :locals => {:workset => workset, :help => help}

- if workset.can_edit?(current_person) or graphs.any?
  .card
    %h2
      Graphs
      - if workset.can_edit?(current_person)
        %a.help-bubble{:href => "?help=graphs"}
          help

    .help{:"aria-hidden" => !(graphs.empty? or help == "graphs") ? "true" : "false"}
      :markdown
        This section lists the **graphs** that have been produced from the experiments within this workset. To produce a graph, first create and run a group (see below) and when the experiments have all completed, use the **Graph Builder** by selecting *new graph* in the group/experiment list below. In the graph builder, you can design the graph and then press *save* and that graph will appear here.

    - if graphs.empty?
      %p
        No graphs.
    - else
      %ul.image-list
        - graphs.each do |graph|
          %li.results
            %a{:href=>"/worksets/#{workset.uid}/graphs/#{graph.id}"}<
              #{graph.data["title"] || "Graph Title"}

.card
  %h2
    Directory
    - if workset.can_edit?(current_person)
      %a.help-bubble{:href => "?help=groups"}
        help

  - if (workset.can_edit?(current_person)) or help == "groups"
    .help{:"aria-hidden" => !((groups.empty? and experiments.empty?) or help == "groups") ? "true" : "false"}
      :markdown
        To run an experiment, you'll need to create a new group. **Groups** help manage a set of related experiments (single runs of a simulation) such that they can be kept organized. Groups can also be defined by a configuration such that experiments can be automatically generated upon, for instance, a range of possible options.

  = partial :"objects/list", :locals => {:head_view => head_view, :object_info => object_info, :groups => groups, :workset => workset}
  = partial :"groups/list", :locals => {:head_view => head_view, :object_info => object_info, :groups => groups, :workset => workset}
  = partial :"experiments/list", :locals => {:head_view => head_view, :object_info => object_info, :groups => groups, :workset => workset}

  - if workset.can_edit?(current_person)
    .add-group
      %span.input
        %form{:action => "/worksets/#{workset.uid}/#{workset.revision}/groups", :method => :post}
          %input{:type=>'text', :name => 'name'}
          %input.button{:type => :submit, :value => "New Group"}
    .add-group
      %span.input
        %form{:action => "/worksets/#{workset.uid}/#{workset.revision}/experiments", :method => :post}
          %input{:type=>'text', :name => 'name'}
          %input.button{:type => :submit, :value => "New Experiment"}

- if workset.can_edit?(current_person)
  .card
    %h2
      Command
    %ul.buttons
      %li
        %span.action
          %a.button{:href => "/worksets/#{workset.uid}/#{workset.revision}/run"}
            Run all
      %li
        %span.action
          %a.button{:href => "/worksets/#{workset.uid}/#{workset.revision}/cancel"}
            Stop all
