.card
  %h2
    Dashboard

  - if false
    %p
      No pending work.
  - else
    %ul.jobs
      %li.job
        .information
          .experiment
            %h2
              Name
            %p
              Workset / Foo
          .time
            %h2
              Time
            %p
              10 hours, 32 minutes, 20 seconds
          .progress
            %h2
              Progress
            %ul.progress-bar
              %li.progress-cell.complete
                x
              %li.progress-cell.complete
                x
              %li.progress-cell.complete
                x
              %li.progress-cell.in-progress
                o
              %li.progress-cell.pending
                e
              %li.progress-cell.pending
                e
          .task
            %h2
              Running
            %p
              simulator Sniper
