%h1.person
  .icon.person<
    %img.avatar{:src => person.avatar_url(96)}
  .roles<
    %ul
      - if person.account
        - person.account.get_roles.each do |role|
          %li{:class => role}
            #{role}
  .name<
    = person.name
  - if !person.organization.blank?
    .organization<
      = person.organization

.bio.description
  - if !person.bio.blank?
    :markdown
      #{person.bio}

  - if current_person and person.id == current_person.id
    %p.edit-profile-link
      %a.edit-profile{:href => "/people/#{current_person.uid}/edit"}
        Edit Profile
