= partial :"people/header", :locals => {:person => person}

= partial :errors, :locals => {:errors => errors}

%form.modal{:action => "/people/#{person.uid}", :method => :post, :name => :person_edit}
  .card
    %label{:for => :organization}
      organization
    %input{:type => :text, :id => :organization, :name => :organization, :value => current_person.organization}
    %label{:for => :name}
      display name
    %input{:type => :text, :id => :name, :name => :name, :value => current_person.name}
    %label{:for => :email}
      email
    %input{:type => :text, :id => :email, :name => :email, :value => current_person.email}
    %label{:for => :bio}
      bio
    %textarea{:id => :bio, :name => :bio}
      = current_person.bio
  .card.filled
    .submit
      %input.button{:type => :submit, :value => "Save"}
