-# Purpose: Displays a form to create a new person
-#
-# Locals: errors - A collection of errors that are passed when the form
-#                  is reloaded after a validation error. nil when no errors.

%h1
  Create a new person

= partial :errors, :locals => {:errors => errors}

%form.center.modal{:action => "/people", :method => :post, :name => :people_new}
  .card
    %label{:for => :username}
      username
    %input.short{:type => "text", :id => :username, :name => :username}
    %label{:for => :password}
      password
    %input.short{:type => "password", :id => :password, :name => :password, :autocomplete => "off"}
  .card.filled
    .submit
      %input#signup.button{:type => "submit", :value => "Sign Up", :name => :submit}
