- content_for :title do
  #{person.name} - Listing Runs

- content_for :scripts do
  %script{:type => "text/javascript", :src => "/js/terminal.js"}
  %script{:type => "text/javascript", :src => "/js/experiment_show.js"}

= partial :"people/header", :locals => {:person => person}

= partial :errors, :locals => {:errors => errors}

- if current_person and current_person.id == person.id
  .card
    %h2
      All Work

    - if person.runs.any?
      %ul
        -# TODO: pagination
        - person.runs.each do |run|
          = partial :"runs/list", :locals => {:run => run}
