-# Purpose: Displays the profile for the specified person
-#
-# Locals:  person        - The particular Person to view
-#          experiments    - The experiments this person owns
-#          collaborations - The worksets this person is collaborating upon
-#          worksets       - The worksets this person owns
-#          jobs           - Running jobs this person owns

- content_for :title do
  #{person.name}

- content_for :scripts do
  %script{:type => "text/javascript", :src => "/js/terminal.js"}
  %script{:type => "text/javascript", :src => "/js/experiment_show.js"}

= partial :"people/header", :locals => {:person => person}

= partial :errors, :locals => {:errors => errors}

- if current_person and current_person.id == person.id
  .card
    %h2
      Current Jobs

    - if person.runs.any?
      %ul
        - person.runs.take(10).each do |run|
          = partial :"runs/list", :locals => {:run => run}
    %p
      %a{:href => "/people/#{current_person.uid}/runs"}
        Show all runs...

.card
  %h2
    Worksets

  - if worksets.empty? and collaborations.empty?
    - if current_person and person.id == current_person.id
      .help
        %p
          %strong<
            Experiments
          are any run of a workload. You can devise a workflow and set up input
          parameters as part of an Experiment. To create one, first create a
          workset below.

          %strong<
            Worksets
          are a collection of Experiments that may be organized into Groups.
          When you have created a workset, navigate to that workset from this
          page. From there, you can add Experiments and Groups to this workset.
      %p
        You have no worksets.
    - else
      %p
        They have no worksets.

  - if current_person and person.id == current_person.id
    .add-group
      %span.input
        %form{:action => "/worksets", :method => :post}
          %input{:type=>'text', :name => 'name'}
          %input.button{:type => :submit, :value => "New Workset"}

  %ul#worksets
    - worksets.reverse.each do |workset|
      - if workset.can_view? current_person
        %li
          %h3.name
            %a.link{:href => "/worksets/#{workset.uid}"}
              = workset.name
          .info
            .description
              :markdown
                #{workset.description}
            .statistics
              %ul
                %li.collaborators
                  %span.value
                    = workset.authors.count + workset.collaborators.count
                  %span.units
                    collaborators
                %li.groups
                  %span.value
                    0
                  %span.units
                    groups
                %li.experiments
                  %span.value
                    0
                  %span.units
                    experiments
                %li.forks
                  %span.value
                    0
                  %span.units
                    forks
    - collaborations.each do |workset|
      - if workset.can_view? current_person
        %li
          %h3.name
            %a.link{:href => "/worksets/#{workset.uid}"}
              = workset.name
          .info
            .description
              %p
                #{workset.description}
            .statistics
              %ul
                %li.collaborators
                  %span.value
                    = workset.authors.count + workset.collaborators.count
                  %span.units
                    collaborators
                %li.groups
                  %span.value
                    0
                  %span.units
                    groups
                %li.experiments
                  %span.value
                    0
                  %span.units
                    experiments
                %li.forks
                  %span.value
                    0
                  %span.units
                    forks
