-# Purpose: Provides a search form that searches through experiment and recipe configurations.
-#
-# Locals: schema    - configuration schema
-#         simulator - the simulator we are searching through

- content_for :styles do
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/configuration.css'}

- unless request.xhr?
  %h1
    Search Configurations

- unless request.xhr?
  %form.modal{:action => "/search/experiments", :method => :post, :name => "search-configurations"}
    %h2
      experiment name
    %input{:type => "text", :id => "name", :name => "name"}
    %h2
      options
    %label{:for => "forked"}
      %input{:type => "checkbox", :id => "forked", :name => "forked"}
      list forked experiments
    %h2
      experiment tags
    %input{:type => "text", :"data-source" => "/experiments/tags", :id => :tags, :name => "tags"}
    %input{:type => "hidden", :value => simulator.id, :name => "simulator_id"}

    %h2 #{simulator.name} options
    .configuration-search-options
      = render_form({}, schema, 'data', nil, true)

    %input.button{:type => :submit, :value => "Search"}
- else
  %h2 #{simulator.name} options
  .configuration-search-options
    = render_form({}, schema, 'data', nil, true)
