-#  Purpose:    Searches in experiments only
-#
-#  Locals:
-#

- unless request.xhr?
  %h1
    Search Experiments

%form.modal{:action => "/search/experiments", :method => :post}
  %h2
    name
  %input{:type => "text", :id => "name", :name => "name"}
  %h2
    options
  %label.checkbox{:for => "forked"}
    %input{:type => "checkbox", :id => "forked", :name => "forked"}
    list forked experiments
  %h2
    tags
  %input{:type => "text", :"data-source" => "/experiments/tags", :id => :tags, :name => "tags"}
  %h2
    using simulator
  %select{:id => "simulator_id", :name => "simulator_id"}
    %option{:value => "___any___"}
      Any
    - simulators.each do |simulator|
      %option{:value => simulator.id}
        = simulator.name

  - unless request.xhr?
    %button.button.inline{:value => "Config", :id => "config-button", :name => "config"}
      Config
  - else
    .loadable

  %br
  %input.button{:type => "submit", :value => "Search"}
