-# Purpose:	Displays the search form.
-#
-# Locals:	errors		- A collection of errors that are passed when the form
-#

- content_for :styles do
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/configuration.css'}

%h1
  Search

%form.modal{:action => "/search", :method => :post, :name => :basic_search}
  .card
    %h2
      Basic Search
    %input{:type => "text", :name => :q}
  .card.filled
    .submit
      %input.button{:type => "submit", :value => "Search"}

.card
  %h2#advanced-simulator-search-header
    Advanced Simulator Search

  .collapsable
    Hello

  %ul#search-groups.diamond-list
    %li
      %a{:href => "/search/simulators"}
        Search Simulators

.card
  %h2#advanced-experiment-search-header
    Advanced Experiment Search

  .collapsable
    Hello

  %ul#search-groups.diamond-list
    %li
      %a{:href => "/search/experiments"}
        Search Experiments

- content_for :scripts do
  %script{:src=>"/js/search.js"}
