-# Purpose: Displays the results of the search
-#
-# Locals:	types   - Matching object types
-#			    objects - Matching objects (by keyword search)

%h1
  Results

- if !types.empty?
  .card
    %h2
      Object Types

    %ul.information
      - types.each do |object|
        %li.object
          %h2.type
            %a{:href => "/objects/#{object.object_type_safe}"}
              #{object.object_type}
          %p

- if !objects.empty?
  .card
    %h2
      Objects

    %ul.information
      - objects.each do |object|
        %li.object
          %h2.type
            #{object.object_type}
          %p
            %a{:href => "/objects/#{object.object_type_safe}/#{object.uid}"}
              #{object.name}

- if types.empty? && objects.empty?
  .card
    %p
      No results.
