%ul.groups
  - # TODO: clean this up
  - # TODO: place this in a model
  - if object_info.has_key? 'dependencies'
    - object_info['dependencies'].select{|dependency| dependency['type'] == 'group'}.each do |group|
      - group_info = group
      - group = Occam::Group.where(:uid => group['id']).first
      %li.group{:"data-group-id" => group.id, :"data-workset-id" => workset.id}
        .information
          .row
            %span.name
              - if group_info['revision'] == group.revision
                - if head_view
                  %a{:href => "/worksets/#{workset.uid}/groups/#{group.uid}"}
                    #{group.name}
                - else
                  %a{:href => "/worksets/#{workset.uid}/#{workset.revision}/groups/#{group.uid}"}
                    #{group.name}
              - else
                - if head_view
                  %a{:href => "/worksets/#{workset.uid}/groups/#{group.uid}/#{group_info['revision']}"}
                    #{group.name}
                - else
                  %a{:href => "/worksets/#{workset.uid}/#{workset.revision}/groups/#{group.uid}/#{group_info['revision']}"}
                    #{group.name}
            - if group.status == :unqueued
              %span.status.unqueued
                unqueued
            - elsif group.status == :queued
              %span.status.queued
                queued
            - elsif group.status == :running
              %span.status.running
                running
            - elsif group.status == :failed
              %span.status.failed
                failed
            - elsif group.status == :finished
              %span.status.finished
                finished
            %span.units
              experiments
            %span.value
              #{group.experiments.count}
            %span.graph-builder
              - if workset.can_edit?(current_person)
                - if group.results?
                  %a.button{:href => "/worksets/groups/#{group.id}/graphs/new"}
                    new graph
                - else
                  %a.button.disabled
                    new graph
            %span.results
              - if workset.can_view?(current_person)
                - if group.results?
                  %a.button{:href => "/worksets/groups"}
                    results
                - else
                  %a.button.disabled
                    results
            %span.command
              - if workset.can_edit?(current_person)
                %a.button{:href => "/worksets/groups/run"}
                  run
