-# Graph Builder application.
-#
-# Locals: experiments - An array of experiments that make up the group.
-#         data        - Initial data for the first experiment.

- content_for :styles do
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/results.css'}
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/graph.css'}
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/js/nv/nv.d3.css'}
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/graph_builder.css'}

.graph-panel
  #command-bar
    .logo
      Graph-Builder
    %ul
      %li#save-button{:"data-target" => "/worksets/#{workset.uid}/#{workset.revision}/graphs"}>
        %a{:href => "#"}
          Save
      -#%li#undo-button>
        %a{:href => "#"}
          Undo
      %li#close-button>
        %a{:href => "/worksets/#{workset.uid}"}
          Close
  #graph-type-bar
    %ul#graph-type-options
  #graph.graph
  #graph-options-bar
    %ul.tabs
      %li.tab.active{:"data-tab" => "graph-options"}
        Options
      %li.tab{:"data-tab" => "graph-data-points"}
        Data Points
    .expand
      foo
  #graph-options-data.tab-panels
    #graph-options.tab-panel.active
      %ul.options
        %li.option.global
          %label{:for => :title}
            Title
          .one
            %input#title-input{:type => "text", :name => :title}<
    #graph-data-points.tab-panel
      %ul.information.data-points
.results-panel
  #results-bar
    %ul.tabs
      - outputs.each_with_index do |output, i|
        - if i == 0
          %li.tab.active{:"data-object-id" => output['id'], :"data-revision" => output['revision']}>
            #{output['name']}
        - else
          %li.tab{:"data-object-id" => output['id'], :"data-revision" => output['revision']}>
            #{output['name']}
    .expand
      foo
  #results-data.tab-panels
    - outputs.each_with_index do |output, i|
      - if i == 0
        .data.tab-panel.active.loaded{:"data-object-id" => output['id'], :"data-revision" => output['revision']}
          - object = Occam::Object.where(:uid => output['id']).first
          %h2
            Data
          #{render_data(object.fileAsJSON, object.schema)}
      - else
        .data.tab-panel{:"data-object-id" => output['id'], :"data-revision" => output['revision']}

- content_for :scripts do
  %script{:src => "https://code.highcharts.com/highcharts.js", :type => "text/javascript"}
  %script{:src => "https://code.highcharts.com/highcharts-3d.js", :type => "text/javascript"}
  %script{:src => "https://code.highcharts.com/modules/exporting.js", :type => "text/javascript"}
  %script{:src=>"/js/nv.d3.min.js"}
  %script{:src=>"/js/occam-viz/occamViz.min.js"}
  %script{:src=>"/js/graph_builder.js", :type => "text/javascript"}
