- content_for :styles do
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/results.css'}
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/graph_builder.css'}

.results-panel
  #results-bar
    %ul.tabs
      - outputs.each_with_index do |output, i|
        - if i == 0
          %li.tab.active{:"data-object-id" => output['id'], :"data-revision" => output['revision']}>
            #{output['name']}
        - else
          %li.tab{:"data-object-id" => output['id'], :"data-revision" => output['revision']}>
            #{output['name']}
  #results-data.tab-panels
    - outputs.each_with_index do |output, i|
      - if i == 0
        .data.tab-panel.active.loaded{:"data-object-id" => output['id'], :"data-revision" => output['revision']}
          - object = Occam::Object.where(:uid => output['id']).first
          #{render_data(object.fileAsJSON, object.schema)}
      - else
        .data.tab-panel{:"data-object-id" => output['id'], :"data-revision" => output['revision']}

- content_for :scripts do
  %script{:src => "http://code.highcharts.com/highcharts.js", :type => "text/javascript"}
  %script{:src => "http://code.highcharts.com/highcharts-3d.js", :type => "text/javascript"}
  %script{:src => "http://code.highcharts.com/modules/exporting.js", :type => "text/javascript"}
  %script{:src=>"/js/nv.d3.min.js"}
  %script{:src=>"/js/occam-viz/occamViz.min.js"}
  %script{:src=>"/js/graph_builder.js", :type => "text/javascript"}
