%ul.groups
  - # TODO: clean this up
  - # TODO: place this in a model
  - if object_info.has_key? 'dependencies'
    - object_info['dependencies'].select{|dependency| dependency['type'] != 'experiment' && dependency['type'] != 'group'}.each do |obj|
      - obj_info = obj
      - obj = Occam::Object.where(:uid => obj['id']).first
      %li.object
        .information
          .row
            %span.name
              - if obj_info['revision'] == obj.revision
                - if head_view
                  %a{:href => "/worksets/#{workset.uid}/objects/#{obj.uid}"}
                    #{obj.name}
                - else
                  %a{:href => "/worksets/#{workset.uid}/#{workset.revision}/objects/#{obj.uid}"}
                    #{obj.name}
              - else
                - if head_view
                  %a{:href => "/worksets/#{workset.uid}/objects/#{obj.uid}/#{obj_info['revision']}"}
                    #{obj.name}
                - else
                  %a{:href => "/worksets/#{workset.uid}/#{workset.revision}/objects/#{obj.uid}/#{obj_info['revision']}"}
                    #{obj.name}
