-# Partial: renders the full metadata for an object, such as a Simulator

- content_for :scripts do
  %script{:type => "text/javascript", :src => "/js/terminal.js"}
  %script{:type => "text/javascript", :src => "/js/object_show.js"}

.description
  :markdown
    #{object_info['description']}
  - if object_info['tags'] and not object_info['tags'].empty?
    %ul.tags
      - object_info['tags'].each do |tag|
        %li.tag
          %a{:href => "/objects/#{object.object_type}?tag=#{tag}"}
            = tag

.card
  - # TODO: History
  .information
    - # TODO: URLs
    .uuid
      %h2
        UUID
      %p
        #{object.uid}
    .revision
      %h2
        Revision
      %p
        #{revision}
    - if not object.local?
      .history
        %h2
          History
        %p
          - parent = object.parentRevision
          - if parent
            %a{:href => "/objects/#{object.object_type}/#{object.uid}/#{parent}"}<
              #{parent[0..6]}...
            \>
          current
          - children = object.childRevisions
          - if not children.empty?
            \>
            - children.each do |child_revision|
              %a{:href => "/objects/#{object.object_type}/#{object.uid}/#{child_revision}"}<
                #{child_revision[0..6]}...,
    - if object_info.has_key? 'clonedFrom'
      .clonedFrom
        %h2
          Cloned From
        %p
          - if object_info['clonedFrom'].is_a? String
            %a{:href => "/objects/#{Occam::Object.objectTypeFromUUID(object_info['clonedFrom'])}/#{object_info['clonedFrom']}"}
              #{object_info['clonedFrom']}
          - else
            - if object_info['clonedFrom'].has_key? 'type'
              #{object_info['clonedFrom']['type']}
            - if object_info['clonedFrom'].has_key? 'name'
              %a{:href => "/objects/#{Occam::Object.objectTypeFromUUID(object_info['clonedFrom']['id'])}/#{object_info['clonedFrom']['id']}/#{object_info['clonedFrom']['revision']}"}
                #{object_info['clonedFrom']['name']}
            - else
              %a{:href => "/objects/#{Occam::Object.objectTypeFromUUID(object_info['clonedFrom']['id'])}/#{object_info['clonedFrom']['id']}/#{object_info['clonedFrom']['revision']}"}
                #{object_info['clonedFrom']['id']}
    - if object_info.has_key? 'generator'
      .generator
        %h2
          Generator
        %p
          - if object_info['generator'].is_a? String
            %a{:href => "/objects/#{Occam::Object.objectTypeFromUUID(object_info['generator'])}/#{object_info['generator']}"}
              #{object_info['generator']}
          - else
            - if object_info['generator'].has_key? 'type'
              #{object_info['generator']['type']}
            - if object_info['generator'].has_key? 'name'
              %a{:href => "/objects/#{Occam::Object.objectTypeFromUUID(object_info['generator']['id'])}/#{object_info['generator']['id']}/#{object_info['generator']['revision']}"}
                #{object_info['generator']['name']}
            - else
              %a{:href => "/objects/#{Occam::Object.objectTypeFromUUID(object_info['generator']['id'])}/#{object_info['generator']['id']}/#{object_info['generator']['revision']}"}
                #{object_info['generator']['id']}
    - if object_info.has_key? 'configures'
      .configuration
        %h2
          Configures
        %p
          - configures_object = Occam::Object.where(:uid => object_info['configures']['id']).first()
          - if configures_object
            %a{:href => "/objects/#{configures_object.object_type_safe}/#{object_info['configures']['id']}"}
              #{configures_object.name}
          - else
            #{object_info['configures']['id']}
    - if object_info.has_key? 'website'
      .website
        %h2
          Website
        %p
          %a{:href => object_info['website']}<
            #{object_info['website']}
    - if object_info['authors']
      .authors
        %h2
          Authors
        %ul
          - object_info['authors'].each do |author|
            %li
              = author
    - if object_info.has_key? 'configurations'
      .configuration
        %h2
          Configuration
        %ul
          - object_info['configurations'].each_with_index do |configuration, i|
            %li.configuration.default
              %a{:href => "/objects/#{object.object_type}/#{object.uid}/#{revision}/configurations/#{i}"}
                #{configuration['name'] || "Unnamed Configuration"}
            -# TODO: recipes
            -#- recipes.each do |recipe|
            -#  %li.configuration
            -#    %a{:href => "/objects/#{object.id}/recipes/#{recipe.id}"}
            -#      #{recipe.name}
    -# TODO: associated objects / binaries
    -# TODO: runs binaries (attached to inputs)
    -# just f-phreaking list inputs gosh darn it
    - if object.configurators.any?
      .configuration
        %h2
          Widgets
        %ul
          - object.configurators.each do |configurator|
            %li
              %a{:href => "/objects/#{configurator.object_type_safe}/#{configurator.uid}"}
                #{configurator.name}
    .inputs
      %h2
        Inputs
      - if object_info['inputs'].nil? or object_info['inputs'].empty?
        %p
          None
      - else
        %ul
          - object_info['inputs'].each do |input|
            %li.input
              #{input['type']}
              - if input['group']
                within #{input['group']}
    .outputs
      %h2
        Outputs
      - if object_info['outputs'].nil? or object_info['outputs'].empty?
        %p
          None
      - else
        %ul
          - object_info['outputs'].each_with_index do |output, i|
            %li.output
              #{output['type']}
              - if output.has_key? 'group'
                within #{output['group']}
              - if output.has_key? 'schema'
                %a{:href => "/objects/#{object.object_type}/#{object.uid}/#{revision}/outputs/#{i}"}
                  schema
    - if object_info['license']
      .license
        %h2
          License
        %p
          #{object_info['license']}
    - if install_job && job
      .update
        %h2
          Update
        %p
          %a{:href => "/objects/#{object.id}/update"}
            Force
    - if install_job
      .installation
        %h2
          Installation
        %p
          - if install_job.nil?
            %span.status.unqueued
              unqueued
          - elsif install_job.status == :queued
            %span.status.queued
              queued
          - elsif install_job.status == :running
            %span.status.running
              running
          - elsif install_job.status == :failed
            %span.status.failed
              failed
          - elsif install_job.status == :finished
            %span.status.finished
              finished
          - if install_job.elapsed_time
            %span.time<
              #{ChronicDuration.output(install_job.elapsed_time.round(2) || 0.0, :keep_zero => true, :format => :long)}
    - if job
      .build-progress
        %h2
          Build Progress
        %p
          - if job.nil?
            %span.status.unqueued
              unqueued
          - elsif job.status == :queued
            %span.status.queued
              queued
          - elsif job.status == :running
            %span.status.running
              running
          - elsif job.status == :failed
            %span.status.failed
              failed
          - elsif job.status == :finished
            %span.status.finished
              finished
          - if job.elapsed_time
            %span.time<
              #{ChronicDuration.output(job.elapsed_time.round(2) || 0.0, :keep_zero => true, :format => :long)}

- if install_job_info && install_job_info["job_log"]
  .card.filled
    %h2
      Installation Output
    %pre#install-output
      #{install_job_info["job_log"]}

- if install_job_info && install_job_info["output_log"]
  .card.filled
    %h2
      Latest Process Output
    %pre
      #{install_job_info["output_log"]}

- if job
  - if job_info && job_info["job_log"]
    .card.filled
      %h2
        Build Output
      %pre#build-output
        #{job_info["job_log"]}

  - if job_info && job_info["output_log"]
    .card.filled
      %h2
        Latest Process Output
      %pre
        #{job_info["output_log"]}

  .card.collapsable.terminal.filled{:"aria-hidden" => "true"}
    %h2
      Console
    .terminal{:tabindex => "1"}

- if object_info['citation']
  .card.filled
    %h2
      Citation
    .information
      .article
        %h2
          Type
        %p
          Article
      - if object_info['citation']['title']
        .title
          %h2
            Title
          %p
            #{object_info['citation']['title']}
      - if object_info['citation']['author']
        .author
          %h2
            Author
          %p
            #{object_info['citation']['author']}
      - if object_info['citation']['journal']
        .journal
          %h2
            Journal
          %p
            #{object_info['citation']['journal']}
      - if object_info['citation']['year']
        .year
          %h2
            Year
          %p
            #{object_info['citation']['year']}
      - if object_info['citation']['month']
        .month
          %h2
            Month
          %p
            #{object_info['citation']['month']}
      - if object_info['citation']['ISSN']
        .issn
          %h2
            ISSN
          %p
            #{object_info['citation']['ISSN']}
    %h2
      BibTeX
    %pre
      %code
        = preserve do
          :escaped
            #{object.bibtex}

- if (not object.local?) && object_info['install']
  .card
    %h2
      Install

    .information
      - if object_info['install'].is_a? Hash
        - object_info['install'] = [object_info['install']]
      - object_info['install'].each do |repo|
        .repository
          %h2
            Repository
          %p
            #{repo['id'] || "uninstalled"}
        - if repo.has_key? 'git'
          .foo
            %h2
            %p
              #{repo['git']}

- if (not object.local?) && object_info['build']
  .card.filled
    %h2
      Build

    .information
      .object
        %h2
          Using
        %p
          - if object_info['build']['using'].is_a? Hash
            #{object_info['build']['using']['id']}
          - else
            #{object_info['build']['using']}
      .script
        %h2
          Script
        %p
          #{object_info['build']['script']}
      .language
        %h2
          Language
        %p
          #{object_info['build']['language']} #{object_info['build']['version']}

    %pre
      %code
        = preserve do
          :escaped
            #{object.retrieveFile(object_info['build']['script'])}

  .card.terminal.filled
    %h2
      Build Terminal
    .terminal#build-terminal{:"data-link-text" => "Build Object", :tabindex => "1", :"data-object-id" => object.uid, :"data-object-revision" => object.revision}

- if (not object.local?) && object_info['run']
  .card.filled
    %h2
      Run

    .information
      .script
        %h2
          Script
        %p
          #{object_info['run']['script']}
      .language
        %h2
          Language
        %p
          #{object_info['run']['language']} #{object_info['run']['version']}

    %pre
      %code
        = preserve do
          :escaped
            #{object.retrieveFile(object_info['run']['script'])}

  .card.terminal.filled
    %h2
      Console
    .terminal#console-terminal{:tabindex => "1", :"data-object-id" => object.uid, :"data-object-revision" => object.revision}

- if (not object.local?) && object_info['file'] && object_info['type'] == "application/json"
  -# TODO: move to a partial
  - content_for :styles do
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/results.css'}

  - content_for :scripts do
    %script{:src=>"/js/occam-viz/occamViz.min.js"}
    %script{:src=>"/js/graph_builder.js", :type => "text/javascript"}

  .card
    %h2
      Data

    #results-data
      .data.active.loaded{:"data-object-id" => object.uid}
        #{render_data(object.fileAsJSON, object.schema)}
- elsif (not object.local?) && object_info['file']
  .card.filled
    %h2
      Data

    %pre
      = preserve do
        :escaped
          #{object.file}
