-# Blah

- content_for :styles do
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/configuration.css'}

%h1{:class => object.type}
  .icon{:class => object.type}<
  .statistics
    %ul
      %li.worksets
        %span.units
          worksets
        %span.value
          0
      %li.experiments
        %span.units
          experiments
        %span.value
          0
  .name<
    = object.name
  .organization<
    Output Schema

.card
  %h2
    #{object.name} Output

  %h3
    #{output['type']}

  = render_schema(schema)
