-# Purpose: Displays the profile for the specified object
-#
-# Locals:  object - The particular object to view.

- content_for :title do
  #{object.name} [#{object.object_type}]

- content_for :scripts do
  %script{:type => "text/javascript", :src => "/js/terminal.js"}

%h1{:class => object_info['type']}
  .icon{:class => object_info['type']}<
  .statistics
    %ul
      %li.worksets
        %span.units
          worksets
        %span.value
          0
      %li.experiments
        %span.units
          experiments
        %span.value
          0
  .name<
    = object['name']
  - if object_info.has_key? 'organization'
    .organization<
      = object_info['organization']

= partial(:"objects/show", {:locals => {:object_info => object_info, :revision => revision, :plural => "simulators", :object => object, :install_job => nil, :job => nil, :install_job_info => nil, :job_info => nil, :recipes => []}})
