%h1.object
  .icon.object<
  .statistics
    %ul
      %li.objects
        %span.units
          objects
        %span.value
          #{Occam::Object.count}
      %li.worksets
        %span.units
          worksets
        %span.value
          #{Occam::Workset.count}
      %li.groups
        %span.units
          groups
        %span.value
          #{Occam::Group.count}
      %li.experiments
        %span.units
          experiments
        %span.value
          #{Occam::Experiment.count}
  .name<
    Listing #{object_type} Objects
  .organization<
    Collection of #{object_type} objects known to this OCCAM system

%ul
  - objects.each do |object|
    %li.card
      .information
        .object
          %h2.object
            %a{:href => "/objects/#{object_type}/#{object.uid}"}
              = object.name
        .description
          :markdown
            #{object.description}
