-# Purpose: Displays a form to sign in
-#
-# Locals:  none

%h1
  Sign in

= partial :errors, :locals => {:errors => errors}

%form.center.modal{:action => "/login", :method => :post, :name => :sessions_login}
  .card
    %label{:for => :username}
      username
    %input.short{:type => "text", :id => :username, :name => :username}
    %label{:for => :password}
      password
    %input.short{:type => "password", :id => :password, :name => :password, :autocomplete => "off"}
  .card.filled
    .submit
      %input#login.button{:type => "submit", :value => "Sign in", :name => :submit}
