.card.filled.collapsable.collapsed.terminal
  %h2
    Logs
  %ul.tabs
    - jobs.each_with_index do |job, index|
      %li.tab{:class => (index == 0) ? "active" : ""}
        %a
          #{run.experiment.workflow['connections'][job.connections.first]["object_realized"].name}
  %ul.tab-panels
    - jobs.each_with_index do |job, index|
      %li.tab-panel{:class => (index == 0) ? "active" : ""}
        .terminal{:tabindex => (job.id + 1), :"data-link-text" => "View Log", :"data-type" => "logs", :"data-job-id" => job.id}
